$PLASTIC_COLOR: #242424;

.art-3 {
    display: flex;
    position: relative;

    .gtx1650 {
        display: flex;
        width: 80%;
        height: 40%;
        margin: auto;

        .brackets {
            // background-color: silver;
            box-sizing: border-box;
            width: 40px;
            height: 120%;
            border-top: 15px solid silver;
            border-right: 15px solid silver;
        }

        .body-wrapper {
            width: 100%;
            height: 100%;

            .body {
                $COLOR_1: #303030;
                $COLOR_2: silver;

                // margin: auto;
                display: flex;
                width: 100%;
                height: 100%;
                background-color: #242424;


                .fan-wrapper {
                    margin: auto;

                    background-size: 6px;
                    background-image: repeating-linear-gradient(to right, $COLOR_1, $COLOR_1 2px, $COLOR_2 2px, $COLOR_2);

                    border-radius: 50%;

                    .fan {
                        $SPIN_SPEED: 1s;

                        $WIDTH: 40%;
                        $WIDTH: 13em;
                        position: relative;
                        width: $WIDTH;
                        height: 0;
                        margin: auto;
                        padding-top: $WIDTH;
                        animation: spin $SPIN_SPEED linear infinite;
                        // background-color: white;
                        // border-radius: 50%;

                        @keyframes spin {
                            100% {
                                transform: rotate(360deg);
                            }
                        }

                        .blades {
                            position: absolute;

                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;

                            // background-color: green;


                            .blade {
                                position: absolute;

                                // top: 25%;

                                width: 1.4em;
                                height: 6em;

                                left: 50%;
                                top: 50%;

                                // Desbuga as élices
                                // transform-origin: 100% 100%;
                                transform-origin: 0 0;


                                // transform: translateY(-50%) translateX(-50%);

                                border-bottom-left-radius: 100%;
                                border-top-left-radius: 100%;


                                margin-left: auto;
                                margin-right: auto;

                                // background-color: black;

                                background-image: linear-gradient(to right, white, #242424 40%);

                                // transform: rotate(0) translateX(-50%) translateY(-50%);
                                // transform: rotate(-40deg * index('.blade', &));

                                @for $i from 1 through 9 {

                                    &:nth-child(#{$i}) {
                                        transform: rotate(40deg * $i);
                                        // transform: rotate(-40deg * $i) translateX(-50%, -50%);
                                    }
                                }

                            }
                        }

                        .core {
                            // width: 50%;
                            // height: 10%;
                            // padding-top: 50%;
                            // border-radius: 50%;
                            display: flex;
                            position: absolute;
                            top: 25%;
                            left: 25%;
                            width: 50%;
                            height: 50%;
                            background-color: $PLASTIC_COLOR;
                            border-radius: 50%;

                            .logo {
                                // background-color: white;
                                display: flex;
                                width: 85%;
                                height: 85%;
                                margin: auto;
                                border: 2px solid white;
                                border-radius: 50%;

                                h3 {
                                    margin: auto;
                                    color: white;
                                }
                            }

                        }

                    }
                }
            }

            .connectors {
                display: flex;
                flex-flow: row;
                justify-content: center;
                gap: 10px;
                width: 100%;
                height: 10%;

                .connector {
                    $PIN_COLOR: goldenrod;
                    $BG_COLOR: darkgoldenrod;

                    // height: 100%;
                    // width: 50px;
                    display: flex;
                    width: 10%;
                    height: 100%;
                    background-color: #121212;

                    &::before {


                        content: "";
                        width: 100%;
                        height: 60%;
                        margin-top: auto;
                        // background-color: goldenrod;

                        background-size: 10px 10px;
                        background-image: repeating-linear-gradient(to right, $BG_COLOR, $BG_COLOR 2px, $PIN_COLOR 2px, $PIN_COLOR);
                    }

                    &.tiny {
                        width: 5%;
                        height: 50%;
                    }

                    &.small {
                        width: 10%;
                    }

                    &.big {
                        width: 50%;
                    }

                    &.no-pins {
                        width: 5%;
                        height: 80%;

                        &::before {
                            width: 200%;
                        }
                    }
                }
            }
        }
    }

    .slider {
        position: absolute;

        bottom: 10%;
        left: 50%;

        transform: translateX(-50%);
        width: 40%;

        // background-color: green;

        span {

        }
        
        input {
            width: 80%;
        }
    }
}